<a href="https://colab.research.google.com/github/ev1025/DA_Study/blob/main/SQL_%EC%BD%94%ED%85%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LV.1 조건에 부합하는 중고거래 댓글 조회하기 ([링크](https://school.programmers.co.kr/learn/courses/30/lessons/164673) )

In [ ]:
SELECT B.TITLE, B.BOARD_ID, R.REPLY_ID, R.WRITER_ID, R.CONTENTS, DATE_FORMAT(R.CREATED_DATE, '%Y-%m-%d') AS CREATED_DATE
FROM USED_GOODS_BOARD B JOIN USED_GOODS_REPLY R
ON B.BOARD_ID = R.BOARD_ID
WHERE DATE_FORMAT(B.CREATED_DATE, '%Y-%m') = '2022-10'
ORDER BY R.CREATED_DATE ASC, B.TITLE ASC;

LV.1  특정 옵션이 포함된 자동차 리스트 구하기 ([링크](https://school.programmers.co.kr/learn/courses/30/lessons/157343))

In [ ]:
# 핵심은 LIKE와 %
SELECT CAR_ID, CAR_TYPE, DAILY_FEE, OPTIONS
FROM CAR_RENTAL_COMPANY_CAR
WHERE OPTIONS LIKE "%네비게이션%"
ORDER BY CAR_ID DESC;

LV.1 자동차 대여 기록에서 장기/단기 대여 구분하기 ([링크](https://school.programmers.co.kr/learn/courses/30/lessons/151138))

In [ ]:
# 핵심은 DATE FORMAT과 CASE문, DATEDIFF +1

SELECT HISTORY_ID, CAR_ID,
        DATE_FORMAT(START_DATE, '%Y-%m-%d') AS START_DATE,
        DATE_FORMAT(END_DATE, '%Y-%m-%d') AS END_DATE,
        CASE WHEN ABS(DATEDIFF(START_DATE, END_DATE))+1 >= 30 THEN '장기 대여'
        ELSE '단기 대여'
        END AS RENT_TYPE
FROM CAR_RENTAL_COMPANY_RENTAL_HISTORY
WHERE DATE_FORMAT(START_DATE,'%Y-%m') = '2022-09' 
ORDER BY HISTORY_ID DESC;