<a href="https://colab.research.google.com/github/ev1025/DA/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98%2C%20Try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 내장함수

### Map함수
- 함수를 iterator에 적용한다.
- 출력 시에 list 사용
- map(함수, 적용할 iterator)

In [ ]:
iterator = [1,2,3,4,5]

# 함수 적용
mapping = map(lambda x: x**2, iterator)
print(f"lambda : {list(mapping)}")

# 타입 적용
mapping2= map(str, iterator)
print(f"type : {list(mapping2)}")

lambda : [1, 4, 9, 16, 25]
type : ['1', '2', '3', '4', '5']

### reduce함수
- reduce(함수, iterator)
- 함수에는 두 element를 연산하는 로직을 넣어야한다.

In [ ]:
from functools import reduce

def SumFunction(x, y):
    return x + y
    
target = list(range(1,10))
reduce(SumFunction, target)

45

In [ ]:
reduce(lambda x,y : x+y, target)

45

In [ ]:
# comprehension으로 하는 법
import numpy as np
print(np.sum([x for x in range(1,10)]))

45

### Filter함수
- 조건(함수)가 참인 iterator만 출력
- 출력 시 list 사용
- filter(함수, iterator)

In [ ]:
iterator = [1,2,3,4,5]

def 짝수(x):
    iterators = True if x%2 ==0 else False
    return iterators  

filtering = filter(짝수,iterator)

print(list(filtering))

[2, 4]

In [ ]:
iterator = [1,2,3,4,5]

filtering = filter(lambda x : x%2==0, iterator)
print(list(filtering))

[2, 4]

### zip
- zip(iterator1, iterator2, iterator3...)
- 여러개의 iterator를 묶어준다.
- list로 프린트시 [튜플,튜플...]형태,  dict로 프린트시 dict형태
- 원소의 개수가 맞지 않을 경우, 적은 개수에 맞춤
- 가변인자를 받기 때문에 여러 iterator를 병렬처리 할 수 있다.
* 가변인자(*args) : 개수가 여러개인 인자("a"처럼 1개가 아닌 "abcdsf"처럼 여러개의 인자)

In [ ]:
a = {1:2, 2:3, 3:4, 4:5} # 개수가 맞지 않아서 4:5는 제외
b = ("A", "B", "C")
result = list(zip(a, b))
print(result)

[(1, 'A'), (2, 'B'), (3, 'C')]

In [ ]:
# 언패킹 zip(*) => 튜플로 나옴
c, d = zip(*result)
print(c)
print(d)

(1, 2, 3)
('A', 'B', 'C')

In [ ]:
# dict 만들기
e = [1, 2, 3]
f = ["A", "B", "C"]
mkdict = dict(zip(e,f))
print(mkdict)

{1: 'A', 2: 'B', 3: 'C'}

### 추가 함수

append('요소' 또는 iterator) : iterator를 형태 그대로 추가

In [ ]:
# append ( a[len(a):] = [x] )
a = [1,2,3]
a.append('a')
a.append({'b':'c'})
print(a)

[1, 2, 3, 'a', {'b': 'c'}]

extend('요소' 또는 iterator) : 요소, iterator모두 요소별로 추가

In [ ]:
# extend ( a[len(a):] = iterable )
a = [1,2,3]
a.extend(('a','b'))
print(a)

[1, 2, 3, 'a', 'b']

insert(인덱스, '요소' 또는 iterator) : 원하는 인덱스에 요소나 iterator 추가

In [ ]:
# insert
a = [1,2,3]
a.insert(1,('a','b'))
print(a)

[1, ('a', 'b'), 2, 3]

### 제거함수

**리스트.remove(x)**
- 리스트에서 x를 삭제, 존재하지않으면 ValueError를 일으킴

In [ ]:
list1 = ['a', 11, 12, 43, 4, 6]
list1.remove('a')
print(list1)

[11, 12, 43, 4, 6]

**리스트.pop(i)**
- 리스트에서 인덱스에 맞는 값을 출력 후 제거
- 인덱스를 지정하지 않으면 맨 뒤에 값을 선택

In [ ]:
list2 = ['a', 11, 12, 43, 4, 6]
a = list2.pop(0)

print(list2)
print(a)

[11, 12, 43, 4, 6]
a

**del 리스트[인덱스]**
- 리스트에서 인덱스를 사용하여 값을 제거

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

del a[0]
print(a)

del a[0:2]
a

[1, 66.25, 333, 333, 1234.5]

[333, 333, 1234.5]

In [ ]:
del a[:]
a

[]

In [ ]:
# 리스트 자체를 없애버릴 수 있음
del a
a

NameError: ignored

**리스트.clear()**
- 리스트 안의 값을 모두 제거
- del a[:]와 같음 => []는 남김

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
a.clear()
a

[]

### count
- 리스트.count('x') : 리스트에 등장하는 횟수를 돌려줌

In [ ]:
my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print(my_list.count( 'xyz' ))

1

### find

- 문자열.find('x', start, end)
- 문자열에서 x의 인덱스를 찾아줌
- x가 존재하지 않으면 -1 출력

In [ ]:
a = '1,1,3,4'
a.find('3')

4

### index
- 리스트.index('x', start, end) 
- 리스트, 문자열,튜플
- x가 있는 인덱스 찾아주기
- 없으면 ValueError, 제일 첫번째 값의 인덱스만 찾아줌

In [ ]:
a = [1,1,3,4]
a.index(1)

0

In [ ]:
b = [1,2,1,4]
b.index(1, 1, 3)

2

### enumerate

In [ ]:
fla_list = ['A', 'B', 'C', 'D']
enu_list = enumerate(fla_list)
print(enu_list)
print(next(enu_list))
print(next(enu_list))
print('\n')

# enumerate는 인덱스와 값을 함께 출력해주기 때문에 상황에 따라 다양하게 활용해볼 수 있다.
for i, enu_list in enumerate(fla_list):
    print(f'{i+1}: {enu_list}')

<enumerate object at 0x7fc00e8c2f40>
(0, 'A')
(1, 'B')


1: A
2: B
3: C
4: D

### isalnum

In [ ]:
print(f'영문이나 숫자인가? {"abcㅁㅊㅊ123".isalnum()}')
print(f'영문이나 숫자인가? {"12!ad#".isalnum()}')

영문이나 숫자인가? True
영문이나 숫자인가? False

### collections Counter(문자열 문자 개수)

In [ ]:
from collections import Counter
a = 'hellow wolrd'
print(Counter(a))
print(Counter(a)['l'])

Counter({'l': 3, 'o': 2, 'w': 2, 'h': 1, 'e': 1, ' ': 1, 'r': 1, 'd': 1})
3

### list comprehension

In [ ]:
# 2번 엮기
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[row[i] for row in matrix]for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### upper, lower
- 소문자, 대문자로 바꿔줌
- 문자열.upper()  / 문자열.lower()
- 문자열.isupper() : 대문자면 True, 아니면 False 반환
- 문자열.islower() : 소문자면 True, 아니면 False 반환

In [ ]:
print(f"ABC는 대문자이다 = {'ABC'.isupper()}")
print(f"Abc는 대문자이다 = {'Abc'.isupper()}")

ABC는 대문자이다 = True
Abc는 대문자이다 = False

### ord(), chr()
- ord('문자') : 문자를 아스키코드 숫자로 바꿔줌
- chr('숫자') : 숫자를 아스키코드 문자로 바꿔줌

In [ ]:
print(ord('A'))
print(chr(65))

65
A

In [ ]:
# X가 B,C,D,E,F 사이에 있는 값인지 확인하고 싶을 때
X = ord('D')

if X >= ord('B') and X <=ord('F'):
    print('포함한다') 
else:
    print('포함하지 않는다.')

포함한다

In [ ]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age
humans = [
    Human("Abi", 29),
    Human("Batista", 32),
    Human("Charlse", 37),
    Human("Dolphine", 30),
    Human("Eva", 26),
    Human("Frin", 18),
    Human("Gless", 42),
    Human("Harby", 12),
    Human("Iris", 41),
    Human("David", 31),
]

# 첫 글자가 [C,D,E,F,G]에 포함되는지
def quesion3():
    a = [humans[i].name for i in range(len(humans)) for j in ['C','D','E','F','G'] if humans[i].name[0]==j]
    b = list(filter(lambda x: x.startswith(("C", "D", "E", "F", "G")), [h.name for h in humans]))
    c = [human.name for human in humans if ord(human.name[0])>=ord('C') and ord(human.name[0]) <=ord('G')]

    print(a)
    print(b)
    print(c)
quesion3()

['Charlse', 'Dolphine', 'Eva', 'Frin', 'Gless', 'David']
['Charlse', 'Dolphine', 'Eva', 'Frin', 'Gless', 'David']
['Charlse', 'Dolphine', 'Eva', 'Frin', 'Gless', 'David']

### operator 모듈 함수
- 키함수에 적용하는 함수, 다중 선택 가능
- itemgetter : iterator의 인덱스를 기준으로 정렬
- attrgetter : iterator의 컬럼명을 기준으로 정렬

In [ ]:
from operator import itemgetter, attrgetter

student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
item = sorted(student_tuples, key=itemgetter(2))
items = sorted(student_tuples, key=itemgetter(1,2)) 

# attr = sorted(student_objects, key=attrgetter('age','grade'))

print(item)
print(items)

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]
[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

### sort, sorted
**리스트.sort(key = 조건(함수) or operator, reverse=False)**
- 기존 배열을 정렬(inplace=True), return이 없음, 리스트만 가능

**sorted(iterator, key=조건 or operator, reverse=False)**   
- 기존 배열은 유지(inplace=False), return을 정렬, 모든 iterator를 list로 변환

In [ ]:
# sort
a = [3,2,1]
b = a.sort()
print(a)
print(b)

[1, 2, 3]
None

In [ ]:
# sorted
c = [3,2,1]
d = sorted(c)
print(c)
print(d)

[3, 2, 1]
[1, 2, 3]

In [ ]:
# sorted의 dict 변환
e = {3:2,2:1}
f = sorted(e)
print(e)
print(f)

{3: 2, 2: 1}
[2, 3]

In [ ]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
a = sorted(student_tuples, key=lambda student: student[2], reverse=True)
b = sorted(student_tuples, key=lambda student: student[2], reverse=False)

print(a) # 내림차순
print(b) # 오름차순

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]
[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [ ]:
# operator 활용, itemgetter : 해당 인덱스 우선순위 
from operator import itemgetter
c = sorted(student_tuples, key=itemgetter(1,2), reverse=True)
print(c)

[('jane', 'B', 12), ('dave', 'B', 10), ('john', 'A', 15)]

### reverse, reversed
- 리스트를 역순
- 리스트.reverse : 기존 배열 정렬(inplace=True), Return 없음
- reversed(리스트 or 튜플 or str) : 기존 배열 유지(inplace=False), Return 있음

In [ ]:
a = ['a', 'b', 'c']
b = a.reverse()
print(a)
print(b)

['c', 'b', 'a']
None

In [ ]:
a = ['a', 'b', 'c']
b = reversed(a)
print(a)
print(list(b))

['a', 'b', 'c']
['c', 'b', 'a']

In [ ]:
l = ['a', 'b', 'c']
t = ('a', 'b', 'c')
s = 'abc'

print(reversed(l))  # <listreverseiterator object at 0x101053c10>
print(reversed(t))  # <reversed object at 0x101053b50>
print((reversed(s)))  # <reversed object at 0x101053c10>

<list_reverseiterator object at 0x7ffa260ccdf0>
<reversed object at 0x7ffa260cce20>
<reversed object at 0x7ffa260ccdf0>

### immutable, mutable

**immutable**
- 변경불가 객체(tuple, int float, str, bool) 
- 주소가 정해져있음
- 변경하면 참조 대상을 바꿔버림

In [ ]:
print("immutable 객체")
a = 99
b = 99
c = 99

print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))

immutable 객체
0xaffee0
0xaffee0
0xaffee0

**mutable**
- 변경가능 객체(list, set, dict) 
- 같은 값이라도 새로운 주소에 저장
- 변경하면 주소 자체를 새로 할당

In [ ]:
print("mutable 객체")
arr1 = [1, 2, 3]
arr2 = [1, 2, 3]
arr3 = [1, 2, 3]

print(hex(id(arr1)))
print(hex(id(arr2)))
print(hex(id(arr3)))

mutable 객체
0x7ffa26124cc0
0x7ffa26137780
0x7ffa26111840

### random
- random.seed(숫자) : 시드고정
- random.random() : 0부터 1 사이의 수
- random.randint(n, k) : n부터 k 사이의 정수

In [ ]:
import random

print(random.random())
print(random.randint(0,100))

0.3132079982242848
36

### 복사

**얕은 복사**
- mutable데이터가 복사가 아닌 참조만 하는 복사
- b = a
- b = a[:]
- b = a.copy()
- b = copy.copy(a)

In [ ]:
# 얕은 복사 : 주소만 참조하여 two를 지우면 one도 지워짐
one = {'a': 5, 'b': 4, 'c': 8}
two = one
del two['a']
print(two, '주소:', hex(id(two)))
print(one, '주소:', hex(id(one)))

{'b': 4, 'c': 8} 주소: 0x7ffa26129c00
{'b': 4, 'c': 8} 주소: 0x7ffa26129c00

In [ ]:
# a가 하나만 삭제되어 깊은복사 같지만 안쪽 list의 주소값이 같음
import copy
one = {'a':2, 'b': 4, 'c': [1,2,3]}
two = copy.copy(one)
del two['a']
print(two, '주소:', hex(id(two['c'])))
print(one, '주소:', hex(id(one['c'])))

{'b': 4, 'c': [1, 2, 3]} 주소: 0x7ffa26202200
{'a': 2, 'b': 4, 'c': [1, 2, 3]} 주소: 0x7ffa26202200

**깊은 복사**
- b = copy.deepcopy(a)

In [ ]:
import copy                 # copy 모듈 불러오기

arr1 = [1, 2, [99, 88, 77], 3]
arr2 = copy.deepcopy(arr1)      # copy 모듈 깊은 복사

print(f'arr1 : {arr1}, address : {hex(id(arr1))}')
print(f'arr2 : {arr2}, address : {hex(id(arr2))}')

arr1 : [1, 2, [99, 88, 77], 3], address : 0x7ffa26124e80
arr2 : [1, 2, [99, 88, 77], 3], address : 0x7ffa26138500

### 자료형, 내장함수 확인

In [ ]:
# help('자료형') : 해당 자료형에 사용할 수 있는 메소드 검색
list_a = [3,4,1,6,9,2]
help(list_a)

In [ ]:
# dir() = 현재 __name__에 저장된 목록(변수지정목록)
# dir(변수) = 해당 변수에 적용할 수 있는 기능 목록
dir()

### dict

In [ ]:
# s2에서 s1에 존재하지 않는 값 찾기

s1 = 'hi my name'
s2 = 'hi my name is jinwoo'

def dd(s1,s2):
    if s1==s2:
        return None

    if s1!=s2:
        nono = []
        s1d = s1.split()
        s2d = s2.split()
        dic1 = dict.fromkeys(s1d)
        dic2 = dict.fromkeys(s2d)
        for i in dic2:
            if i not in dic1:
                nono.append(i)
        return nono
dd(s1,s2)

['is', 'jinwoo']

In [ ]:
# fromkeys(key배열,[값배열]) 값배열은 같은 값이 들어감
s1 = 'hi my name'
a= s1.split()
b= dict.fromkeys(a,[1,2,3])
b

{'hi': [1, 2, 3], 'my': [1, 2, 3], 'name': [1, 2, 3]}

### 시간(time) 함수

#### 시간측정

In [ ]:
import time
from functools import wraps

def check_time(function):         # 소요시간 함수(시간 측정할 함수)
	@wraps(function)              # 래핑(시간 측정할 함수)
	def measure(*args, **kwargs): # 래핑된 함수를 받아서
		start_time = time.time()  # 시작시간
		result = function(*args, **kwargs)  # 시작과 끝 시간의 가운데서 실행
		end_time = time.time()    # 끝나는시간 측정
		print(f"@check_time: {function.__name__} took {end_time - start_time}") # 함수이름 took 걸린시간 출력
		return result  # 함수의 결과 반환

	return measure # 함수 결과 반환, 프린트문으로 시간알려줌

In [ ]:
@check_time  # 새로운 함수 앞에 붙여주면 함수 실행할 때 같이 실행됨
def sum_n(n):
    s = 0
    for i in range(1, n+1):
        s += i
    return s

if __name__ == "__main__":
	print(sum_n(100000))

@check_time: sum_n took 0.014777183532714844
5000050000

#### 알람

In [ ]:
from time import sleep
print('sleep(초)후에 다음 로직이 실행된다.')

sleep(4)

print('알람')

sleep(초)후에 다음 로직이 실행된다.
알람

### 데코레이터(@)

#### 데코레이터 사용법

In [ ]:
from functools import wraps

def 함수이름(func):  # 데코사용할 함수 이름 => @함수이름 이렇게
    @wraps(func)     # func는 데코레이션 적용할 함수 @함수이름 밑에 쓰일 함수
    def __wrapper(*args, **kwargs):
        # 여기서 decoretor로 진행시키고 싶은 기능 넣으면 됨
        # 여기에 result = func(*args, **kwargs)쓰고 return을 result로 받아도 됨
        return func(*args, **kwargs) # 래핑된 함수의 반환값
    return __wrapper # 래핑된 함수의 반환값

In [ ]:
#사용예시
@함수이름
def func(x):
    return x*2

func(10)
# >> 데코레이터가 func를 감싸서 실행되고 반환됨

##### wraps를 사용하는 이유
- 없어도 작동을 하지만 사용하지 않으면 디버깅이 어려움

**wraps를 사용안할때**

In [ ]:
def without_wraps(func):
    def __wrapper(*args, **kwargs):
        return func(*args, **kwargs)
    return __wrapper

@without_wraps
def my_func_a():
    """Here is my_func_a doc string text."""
    pass

In [ ]:
print(my_func_a.__doc__) # 해당 func값이 제대로 반환되지 않음
print(my_func_a.__name__)

None
__wrapper

**wraps를 사용했을  때**

In [ ]:
from functools import wraps

def with_wraps(func):
    @wraps(func)
    def __wrapper(*args, **kwargs):
       return func(*args, **kwargs)
    return __wrapper

@with_wraps
def my_func_b():
    """Here is my_func_b doc string text."""
    pass

In [ ]:
print(my_func_b.__doc__) # 해당 func값이 제대로 반환 됨
print(my_func_b.__name__)

Here is my_func_b doc string text.
my_func_b

## 정규표현식(regex)

- iterator에선 사용하지 않음 (list, dict, tuple 등..)

#### escape문자
- \n : 줄바꿈
- \t : 탭(들여쓰기)
- \b : 백스페이스(하나 지움)
- \r : 앞의 글자 다 지우고 뒤에 글자를 들여쓰기
- \ : 뒤에 특수문자 표시하기

In [ ]:
print("     \rHello")
print("     Hello")

Hello
     Hello

raw string : r을 붙여서 특수문자 유지

In [ ]:
print('raw string을 사용하지 않고고\b 문자 출력하기')
print(r'raw string을 사용하지 않지 않고고./.,,.\\b 문자 출력하기')

# 파일 경로 출력하기
print('C:\programs\nayana')
print('C:\\programs\\nayana') # \로 경로 살리기
print(r'C:\programs\nayana')  # r로 경로 살리기

raw string을 사용하지 않고고 문자 출력하기
raw string을 사용하지 않지 않고고./.,,.\\b 문자 출력하기
C:\programs
ayana
C:\programs\nayana
C:\programs\nayana

#### 정규식 패턴
- I : `IGNORECASE` 대소문자 미구분 
- X : `VERBOSE` 정규식 안의 공백 무시
- M : `MULTILINE` 여러 줄의 문자열에 대해 패턴을 탐색할 수 있게 함
- S : `DOTALL` 점(.)을 줄바꾸기 문자도 포함하여 매치하게 함
- L : `LOCATE` \w, \W, \b, \B를 현재의 로케일에 영향을 받음 ??
- U : `UNICODE` \w, \W, \b, \B가 유니코드 문자 특성에 의존함 ??   

위의 패턴은 아래와 같이 사용할 수 있으며 여러 패턴을 등록하려면 | 을 사용합니다.

In [ ]:
import re

s = """
c
b
A
"""
print(re.search('a', s, re.M|re.I)) # re.M(여러줄탐색) |(구분) re.I(대소문자미구분)

<re.Match object; span=(5, 6), match='A'>

#### re.compile
- 자주쓰는 정규표현식이나 패턴을 지정
- re.compile('정규표현식', 패턴)

In [ ]:
# re.함수(컴파일, '문자열')
phone = re.compile("""
010     
-\d{4}  
-\d{4} 
""", re.VERBOSE)

a = '010-9695-3199abc'

print(re.search(phone, a))

<re.Match object; span=(0, 13), match='010-9695-3199'>

In [ ]:
# 컴파일.함수('문자열')
phone = re.compile("010-\d{4}-\d{4}")

info = ['홍길동 010-1234-1234', '고길동 010-5678-5679']

for text in info:
    match_object = phone.search(text)
    print(match_object.group())

010-1234-1234
010-5678-5679

#### re.search
- re.search('정규표현식', '문자열',패턴)
- 정규표현식에 해당하는 글자 찾기

In [ ]:
import re

wordlist = ["color", "colour", "work", "working",
            "fox", "worker", "working"]

for word in wordlist:
    if re.search('col.r', word): 
        print(word)

color

**점(.)은 하나의 문자를 뜻하고, *를 붙이면 개수 무시**

In [ ]:
import re 

print(re.search('w..w', 'wow'))
print(re.search('w..w', 'woow'))
print(re.search('w..w', 'wooow'))
print(re.search('w.*w','wabcdefgw'))

None
<re.Match object; span=(0, 4), match='woow'>
None
<re.Match object; span=(0, 9), match='wabcdefgw'>

#### re.match
- 문자열의 처음부터 정규표현식과 일치하는 값 불러오기
- re.match('정규표현식', '문자열', 패턴)

In [ ]:
regular_expressions = '<html><head><title>Title</title>'

print(len(regular_expressions))
print(re.match('<.*>',regular_expressions))     
print(re.match('<.*>', regular_expressions).span())  # span 출력
print(re.match('<.*>', regular_expressions).group()) # 일치하는 값 출력

32
<re.Match object; span=(0, 32), match='<html><head><title>Title</title>'>
(0, 32)
<html><head><title>Title</title>

#### rjust, ljust
- 문자열.rjust(총 개수, "지정문자")
- 문자열에 지정문자를 채워준다.(총 개수에서 모자란 만큼만)

In [ ]:
print("500".rjust(5,"0"))

00500

In [ ]:
print("50000".rjust(5,"0"))

50000

In [ ]:
print("123".rjust(5,"0"))
print("123".ljust(5,"a"))

00123
123aa

#### zfill(정수)
- 문자열 앞에 정수만큼 0으로 채워줌

In [ ]:
# "002"
print("2".zfill(3))
 
# "5000"
print("5000".zfill(5))
 
# "00123"
print("123".zfill(5))

002
05000
00123

#### split("구분문자")
- 구분문자를 기준으로 문자열을 나눔

In [ ]:
string_ = "Hello, I am Jack and I am a data scientist"

print(string_)
print(string_[2]) # 글자 인덱스

Hello, I am Jack and I am a data scientist
l

In [ ]:
# 띄어쓰기로 단어 나누기
string_list = string_.split(" ")
string_list

['Hello,', 'I', 'am', 'Jack', 'and', 'I', 'am', 'a', 'data', 'scientist']

In [ ]:
# 시작, 끝 단어 일치여부(bool)
print(string_.startswith('Hello'))
print(string_.endswith('scientist'))

print(string_.endswith('tist'))

True
True
True

In [ ]:
print(string_)
print(string_.replace("ntist", "hahaha")) # 조금이라도 일치하면 변경

Hello, I am Jack and I am a data scientist
Hello, I am Jack and I am a data sciehahaha

### 공배수

In [ ]:
# 100보다 작은 5와 7의 공배수
abc = [i*a for i in range(11) for a in range(11) if i*a==35 or i*a==70]
list(set(abc))

[35, 70]

In [ ]:
[i*5*7 for i in range(1,100//(5*7)+1)]

[35, 70]

In [ ]:
# 소수가 맞는지 아닌지 찾는 함수
def part3(N):
    num = [i for i in range(1, N+1) if N%i == 0 ]
    if len(num)==2:
        return True
    else:
        return False

part3(4)

In [ ]:
# 2~ N의 소수의 개수를 나타내주는 함수
def part3(N):
    if N <0:
        raise ValueError
    elif N ==1:
        return 0
    else: 
        answer = 0
        for i in range(2, N+1):
            count=0
            for x in range(2, i):
                if i%x ==0:
                    count+=1
            if count==0:
                answer +=1
        return answer

part3(7)

4

### Try

- try : 값을 받음
- except : 에러발생 시, 에러를 표시하지 않고 문구로 대체
- else : 수식에 사용할 조건
- finally : 위의 구문과 상관없이 실행됨
- raise : 에러를 일으킴

In [ ]:
# 제대로 된 값을 넣을 때 까지 반복재생
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

Please enter a number: 1

In [ ]:
# while True:가 없어서 단발성
try:
    age = int(input('나이를 입력하세요.'))

except:
    print('숫자만 입력하세요')

else:
    if age <= 0:
        raise ValueError('0 이상의 숫자를 입력하세요.')
    else:
        if age > 13 and age<20:
            print('당신은 청소년입니다.')
        elif age <= 13:
            print("당신은 어린이입니다.")
        else:
            print('당신은 성인입니다.')
finally:
    print('반갑습니다.')

나이를 입력하세요.13
당신은 어린이입니다.
반갑습니다.